html {
    overflow-x: hidden;
    font-family: 'Roboto';
}

body {
    background-size: 40px 40px;
    background-color: #f1f1f1;
    background-image:
        linear-gradient(to right, #dedede 1px, transparent 1px),
        linear-gradient(to bottom, #dedede 1px, transparent 1px);
}

button {
    background-color: #efefef;
    border: 2px dashed black;
    border-radius: 0.33rem;
}

#main {
    position: absolute;
    top: 5rem;
    left: 0px;
    width: 100%;
}

#htitle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

#ptitle {
    position: absolute;
    top: 23px;
    left: calc(50vw + 10em);
    width: 100%;
    text-align: left;
}



#big-row {
    display: flex;
    flex-direction: row;
}

#canvas-holder {
    width: fit-content;
    justify-self: center;
}

canvas {
    width: 500px;
    height: 500px;
    border: 10px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#info {
    justify-self: flex-end;
    margin-left: 2rem;
}

#controlpanel {
    justify-self: flex-start;
    margin-left: 2rem;
    margin-right: 3rem;
    max-width: 22rem;
}



#colorholder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;

    padding: 1rem;
    border: 2px dashed black;
    border-radius: 2rem;
}

#colorholder > div, #controlpanel img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: 4.5rem;
    height: 3rem;
}

#textholder {
    padding: 1rem;
    padding-bottom: 0.25rem;
    border: 2px dashed black;
    border-radius: 2rem;
}

#ansimg, #abcimg {
    object-fit: contain;
    background-color: white;
    padding: 0.5rem;
}

div.selected {
    border: 2px solid black;
    margin: -2px;
}

img.selected {
    border: 2px solid black;
    margin: -2px;
}

#info {
    position: relative;
    left: 20px;
    width: calc(90vw - 885px);
    text-wrap: wrap;
}



#saveload {
    position: relative;
    text-wrap: wrap;
    width: 500px;
    display: flex;
    gap: 5px;
    flex-direction: row;
    height: 20px;
}

#b64output {
    justify-self: flex-start;
}

#b64input {
    justify-self: flex-end;
}



.slidercontainer {
    width: 100%;
    position: relative;
    margin-top: -2rem;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 25px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: #eef;
    cursor: grabbing;
    border-radius: 0.25rem;
    border: none;
}

.slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #eef;
    cursor: grabbing;
    border-radius: 0.25rem;
    border: none;
}